.capitalized {
  text-transform: capitalize !important;
  opacity: 0.5 !important;
  border: 0px !important;
  background-color: transparent !important;
}
.setter {
  font-size: 1em;
}

.pt {
  padding-top: 10px
}

.min {
  font-size: 0.25em !important;
  text-transform: lowercase !important;
  margin-left: -10px !important;
  opacity: 0.6;
}

.plus-minus-box{
  border-top: 0px !important;
  margin-top: -10px !important;
}
